.task-item {
    align-items: center;
    border-top: 2px dotted var(--PrimaryColor);
    border-bottom: 2px dotted var(--PrimaryColor);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 25px;
    padding: 10px;
    
}

.task-item .title {
    font-weight: 500;
    color: black;
    font-size: 1.25rem;
    margin: 0px;
}

.task-item .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.task-item .buttons button {
    align-items: center;
    background-color: black ;
    border: solid 1px solid;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    transition: .5s;
    padding: 5px 10px;
}

.task-item .buttons button:hover{
    transform: scale(1.05);
}

.task-item .buttons .edit:hover {
    background-color: #00ac1f;
    color: white;
}

.task-item .buttons .delete:hover {
    background-color: #c63637;
    color: white;
}