@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --PrimaryColor: #3d454c;
    --SecondaryColor: #4ab9c0

}

* {
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: var(--PrimaryColor);
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    border: none;
}